@model Web.Models.Notification
@{
    ViewData["Title"] = "SendNotificationToSpecificUser";
}

<link href="~/temp/css/noti.css" rel="stylesheet" />
<link href="~/alertifyjs/css/alertify.min.css" rel="stylesheet" />
<link href="~/alertifyjs/css/themes/default.min.css" rel="stylesheet" />

<div class="container-xl px-4 mt-4">

    <hr class="mt-0 mb-4">

    <div class="back">
        <a asp-action="Index" asp-controller="Employee" class="btn btn-outline-info"><i class="fas fa-arrow-left"></i>  Back</a>
    </div>

    <div class="row">
        <div class="col-xl-12">
        </div>
        <div class="col-xl-8">
            <!-- Account details card-->
            <div class="card mb-4">
                <div class="card-header"> Send Notification To Specific User</div>
                <div class="card-body">
                    @*@if (TempData["Message"] != null)
                        {
                            <div class="p-3 mb-2 bg-success text-white">@TempData["Message"].ToString()</div>
                        }*@
                    @using (Html.BeginForm("SendNotificationToSpecificUser", "Notification", FormMethod.Post))
                    {
                        <fieldset>
                            <!-- Form Group (username)-->
                            <div class="mb-3">
                                <label class="small mb-1">Title Notification</label>
                                @Html.TextBoxFor(model => model.Title, new { @class = "form-control", required = "required", placeholder = "Enter Title Of Notification..." })
                            </div>
                            <!-- Form Row-->
                            <div class="mb-3">
                                <!-- Form Group (first name)-->
                                <label class="small mb-1">Content Notification</label>
                                @Html.TextAreaFor(model => model.Content, new { @class = "form-control", required = "required", placeholder = "Enter Message Content..." })
                                <!-- Form Group (last name)-->
                            </div>

                            @{
                                var list = ViewBag.listUsername;
                                if (list != null)
                                {
                                    <div class="mb-3">
                                        <label class="small mb-1">Send To?</label>
                                        @Html.DropDownListFor(model => model.Reciver, new SelectList(list), "----- Select Reciver -----", new { @class = "form-control " })
                                    </div>
                                }
                            }
                            <button type="submit" class="btn btn-primary btn-user btn-block">
                                Send
                            </button>
                        </fieldset>
                    }

                </div>
            </div>
        </div>
    </div>
</div>


<script src="~/alertifyjs/alertify.min.js"></script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
    $(function () {
    var errorMessage = '@TempData["ErrorMessage"]'
        if (errorMessage != '')
            alertify.error(errorMessage)
    });
    </script>
}
