@model Web.Models.Employee

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>


<h4>Employee</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
            <label asp-for="Id" class="control-label"></label>
            <input asp-for="Id" class="form-control" />
            <span asp-validation-for="Id" class="text-danger"></span>
        </div>*@
            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Birthday" class="control-label"></label>
                <input asp-for="Birthday" class="form-control" />
                <span asp-validation-for="Birthday" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>

            @{
                List<Department> list = ViewBag.listDepartment as List<Department>;
                if (list != null)
                {
                        <div class="mb-3">
                            <label asp-for="DepartmentId" class="control-label"></label>
                           @* @Html.DropDownListFor(model => model.DepartmentId, new SelectList(list), "----- Select -----", new { @class = "form-control " })*@
                        <select class="form-control " data-val="true" data-val-required="The DepartmentId field is required." id="DepartmentId" name="DepartmentId">
                            <option value="">----- Select -----</option>
                            @{
                                foreach (var i in list)
                                {
                                    <option value="@i.Id">@i.DepartmentName</option>
                                }
                            }
                        </select>

                        </div>
                }
            }
            @*<div class="form-group">
                <label asp-for="DepartmentId" class="control-label"></label>
                <input asp-for="DepartmentId" class="form-control" />
                <span asp-validation-for="DepartmentId" class="text-danger"></span>
            </div>*@

            @*<div class="form-group">
            @Html.LabelFor(model => model.DepartmentId, new { @class = "control=label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.DepartmentId, new SelectList(ViewBag.DepartmentList, "DepartmentId", "DepartmentName"), "Choose Department", new { onchange = "getDepartment()", @id = "DropDownListDepartment" })
                @Html.ValidationMessageFor(model => model.DepartmentId)
            </div>
        </div>*@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-outline-danger" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
    $(function () {
    var failMessage = '@TempData["FailMessage"]'
        if (failMessage != '')
            alertify.error(failMessage)
    }); 
    </script>


    @*<script type="text/javascript">
        function getDepartment() {
            var id = $('#DropDownListDepartment').val();
            if (id > 0) {
                $.ajax({
                    url: "@Url.Action("GetJsonDepartmentAsync", "Department")",
                    data: { id: id },
                    dataType: "json",
                    type: "GET",
                    success: function (data) {
                        var items = "";
                        items = "<option value=''>--Choose Department--</option>";
                        $.each(data, function (i, item) {
                            items += "<option value=\"" + item.Value + "\">" + item.Text + "</option>";
                        });
                        $('#DropDownListDepartment').html(items);
                    }
                });
            }
        }
    </script>*@
}
