@model IEnumerable<Web.Models.ResponseViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/temp/css/index.css" rel="stylesheet" />

<h1 class="text-center">Employee Management</h1>

<p>
    @*<a onclick="showInPopup('@Url.Action("Create", "Employee", null, Context.Request.Scheme)', 'Create New')" class="btn btn-info text-white">Create New</a>*@
    <a class="btn btn-info" asp-action="Create">Create New</a>
</p>

<div>
    <form method="get" asp-controller="Employee" asp-action="Index">
        <p>
            <input type="search"
                   placeholder="Enter Employee Username"
                   value="@ViewData["GetUsername"]"
                   name="username"
                   style="width:230px;" />

            <input type="search"
                   placeholder="Enter Employee Name"
                   value="@ViewData["GetName"]"
                   name="name"
                   style="width:200px;" />
            <input type="submit" value="Search" class="btn btn-primary" />
            <a asp-action="Index" class="btn btn-outline-dark">Reset</a>
        </p>
    </form>
</div>

<div class="file-excel">
    <a asp-action="DownloadFormatExcel" asp-controller="Excel" class="btn btn-secondary" style="color:white;"><i class="fas fa-download"></i> Download Format Excel</a>

    <form enctype="multipart/form-data" method="post" asp-controller="Excel" asp-action="ImportFileExcel">
        <div class="import">
            <div style="margin-top:5px;">
                <input type="file" name="file" />
            </div>

            <div>
                <input type="submit" value="Import" class="btn btn-success" />
            </div>
        </div>
    </form>

    <div class="dropdown">
        <button class="dropbtn">
            <i class="far fa-bell">
            </i>
            Notification
        </button>
        <div class="dropdown-content">
            @*<a onclick="showInPopup('@Url.Action("SendToSpecificUser", "Notification", null, Context.Request.Scheme)')">Notify an employee</a>*@
            @*<a onclick="showInPopup('@Url.Action("Create", "Notification", null, Context.Request.Scheme)')">Notify to all employees</a>*@
            <a asp-action="SendNotificationToSpecificUser" asp-controller="Notification">Notify an employee</a>
            <a asp-action="SendNoficationToAll" asp-controller="Notification">Notify to all employees</a>
        </div>
    </div>
</div>

<table class="table" style="margin-top:30px">
    <thead>
        <tr style="background-color: #2B4865;color:white;">
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            @*<th hidden>
                    @Html.DisplayNameFor(model => model.Password)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Birthday)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th hidden>
                @Html.DisplayNameFor(model => model.DepartmentId)
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.DepartmentName)*@
                Department
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count() == 0)
        {
            <tr>
                <td colspan="3" style="color:red;text-align:center">
                    No Match Any Document
                </td>
            </tr>
        }
        else
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Username)
                    </td>
                    @*<td hidden>
                            @Html.DisplayFor(modelItem => item.Password)
                        </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Birthday)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                    </td>
                    <td hidden>
                        @Html.DisplayFor(modelItem => item.DepartmentId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DepartmentName)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-info" }) |
                        @* <a onclick="showInPopup('@Url.Action("Edit", "Employee", new { id = item.Id }, Context.Request.Scheme)', 'Edit')" class="btn btn-info text-white">Edit</a> |*@
                        @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-info" }) |

                        <a onclick="Delete(@item.Id)" class="btn btn-info text-white">Delete</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

@section scripts{
    <script>
        $(function () {
            var successMessage = '@TempData["SuccessMessage"]'
            if (successMessage != '')
                alertify.success(successMessage)

            var failMessage = '@TempData["FailMessage"]'
            if (failMessage != '')
                alertify.error(failMessage)

        });

        @*function Delete(id){
            alertify.confirm('Web API CRUD Operations', 'Are you sure want to DELETE this item ?', function () {
                window.location.href = '@Url.Action("Delete", "Employee")/'+id;
            }, null);
        }*@

        function Delete(id) {
            !alertify.confirm('Web API CRUD Operations', 'Are you sure want to DELETE this item ?', function () {
                $.ajax({
                url: '@Url.Action("Delete", "Employee")',
                type: 'POST',
                data: { "id": id },
                success: function (res) {
                    if (res.type === "Success") {
                        window.location.href = '/Employee/Index';
                    }
                    else {
                    }
                    console.log(res);
                }
            });
            }, null);
        }

    </script>
}
